<app-navbar></app-navbar>
<div class="itemContainer" id='golfCourseComponent' style="margin-top: 8rem; margin-bottom: 4rem; padding-top: 5px; padding-bottom: 5px; justify-content: space-evenly;">
  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h5 class="card-title">List</h5>
      <div class="card" style="background-color: #343A40; border-color: #181A1B; flex-direction: row; text-align: center; display: flex; padding: 6px;">
        <h6 style="text-align: center; align-self: center; justify-self: center; align-content: center; display: flex; ">Company Name</h6>
      </div>
    </div>
  </div>

</div>
