<div class="itemContainer" id='golfCourseComponent' style="margin-top: 8rem; margin-bottom: 4rem; padding-top: 5px; padding-bottom: 5px; justify-content: space-evenly;">
  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <h5 class="card-title">List</h5>
        <a href="/create" class="card-link">New</a>
      </div>

      <div class="card" style="background-color: #343A40; border-color: #181A1B; flex-direction: row; text-align: center; display: flex; padding: 6px;">
        <div style="flex-direction: row; justify-content: space-between; display: inline-flex;">

          <div style="display: inline-flex; flex-direction: row; justify-content: space-between; align-items: center; align-content: center; color: #007BFF;">
            <input id="company" class="card-header" style="border: solid #2b3035 1px; padding: 4px; width: 15rem; text-align: center; color: ghostwhite;" placeholder="company name">
            <button class="btn btn-link card-link fakeAnchor" style="text-decoration: none;">Save</button>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
